// bookings
// --------------------------------------------------

.event-details, 
.event-form {
  @extend .text-width;
}

@media (min-width: $screen-xs) {
  .event-date,
  .event-time {
    display: inline-block;
  }
  
  .event-date + .event-time {
    &:before {
      content: ' | ';
    }
  }
}

.event-description {
  margin-top: $line-height-computed;
}

.event-meta--categories,
.event-meta--tags {
  list-style: none;
  padding: 0;
  margin-top: $line-height-computed;
}

.event-form {
  margin-top: $grid-column-gutter;
}

.em-booking {
  display: flex;
  margin: 0 $grid-column-gutter * -1;
}

.em-booking-form,
.em-booking-login {
  flex: 1;
  padding: 0 $grid-column-gutter;
  max-width: none;
}

.em-booking-form + .em-booking-login {
  border-left: 1px solid $gray-light;
}