// bookings
// --------------------------------------------------

.event-details, 
.event-form {
  @extend .text-width;
}

@media (min-width: $screen-xs) {
  .event-date,
  .event-time {
    display: inline-block;
  }
  
  .event-date + .event-time {
    &:before {
      content: ' | ';
    }
  }
}

.event-description {
  margin-top: $line-height-computed;
}

.event-meta--categories,
.event-meta--tags {
  list-style: none;
  padding: 0;
  margin-top: $line-height-computed;
}

.event-form,
.em-booking-form + .em-booking-login {
  margin-top: $grid-column-gutter;
}

.em-booking--unavailable {
  font-weight: $font-weight-strong;
}

@media (min-width: $screen-xs) {
  .em-booking--available.em-booking--unknown {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $grid-column-gutter * -1;
    
    .em-booking-form,
    .em-booking-login {
      flex: 1;
      padding: 0 $grid-column-gutter;
    }
  }

  .em-booking-form + .em-booking-login {
    margin-top: 0;
    border-left: 1px solid $gray-light;
  }
}

.em-booking-form,
.em-booking-login {
  max-width: none;
}

.em-booking-form-heading,
.em-booking-login-heading {
  margin-top: 0px;
}

.em-booking-login-submit {
  margin-right: 10px;
}

.em-booking-login-lostpass {
  margin-top: 10px;
}


// messages

.em-booking-message {
  background: $state-info-bg;
  border: 1px solid $state-info-border;
  color: $state-info-text;
  padding: $padding-base-vertical*2 $padding-base-horizontal;
  width: 100%;
  margin-bottom: $grid-column-gutter / 2;
  border-radius: 5px;
  animation: fade-in .3s ease-out;
  
  p {
    margin-bottom: $line-height-computed/2;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  
  @media (min-width: $screen-xs) {
    .em-booking--available.em-booking--unknown & {
      margin-left: $grid-column-gutter;
      margin-right: $grid-column-gutter;
    }
  }
}

.em-booking-message-error {
  background: $state-error-bg;
  border-color: $state-error-border;
  color: $state-error-text;
}