// events calendar
// --------------------------------------------------


// Basic Styles
.em-calendar {
  transition: opacity .3s ease-out;
  animation: fade-in .3s ease-out;
}

.fullcalendar {
  width: 100%;
  
  thead {
    text-align: center;
  }
  
  table, thead, tbody, tr, th, td {
    display: block;
  }
  
  .days-names,
  .eventless-pre,
  .eventful-pre,
  .eventless,
  .eventless-today,
  .eventless-post,
  .eventful-post {
    display: none;
  }
  
  thead tr {
    display: flex;
    justify-content: center;
  }
  
  .month_name {
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .eventful,
  .eventful-today {
    display: flex;
    margin-bottom: 30px;
    
    $calendar-color: lighten( adjust-hue($brand-primary, -15), 5%);
        
    > a {
      width: 2.5em;
      text-align: center;
      background: $calendar-color;
      border: 1px solid darken($calendar-color, 5%);
      color: #fff;
      padding: 10px 0;
      margin: 6px 20px 0 0;
      font-size: 1.2em;
      line-height: 1;
      font-weight: $font-weight-strong;
      box-shadow: 0 -2px #fff, 0 -6px darken($brand-primary, 15%);
    }
    ul {
      flex: 1;
      align-self: center;
      margin: 0;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
  
  @media (min-width: $screen-sm){
    
    table {
      display: table;
    }
    thead {
      display: table-header-group;
    }
    tbody {
      display: table-row-group;
    }
    tr, 
    thead tr, 
    .days-names {
      display: table-row;
    }
    td, th,
    .eventless-pre,
    .eventful-pre,
    .eventless,
    .eventful,
    .eventless-today,
    .eventful-today,
    .eventless-post,
    .eventful-post {
      display: table-cell;
    }
  
    td {
      width: 14.285%;
      vertical-align: top;
    }
    
    .eventful,
    .eventful-today {
      margin-bottom: 0;
          
      > a {
        width: auto;
        text-align: left;
        background: none;
        border: none;
        color: $text-color;
        padding: 0;
        margin: 0;
        font-size: 1em;
        line-height: $line-height-base;
        font-weight: $font-weight-base;
        box-shadow: none;
      }
      ul {
        margin-bottom: $line-height-computed;
      }
    }
  }
}

.month_name {
  font-family: $headings-font-family;
  font-size: $font-size-h3;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  padding-bottom: $line-height-computed;
}

.days-names td {
  font-weight: $font-weight-strong;
  padding: 0 7px $line-height-computed/2;
}

.eventless-pre,
.eventful-pre,
.eventless,
.eventful,
.eventless-today,
.eventful-today,
.eventless-post,
.eventful-post
.eventless-post,
.eventful-post {
  
  @media (min-width: $screen-sm){
    border: 1px solid lighten($gray-light, 20%);
    padding: 5px 7px;
  }
  
  a {
    color: $text-color;
  }
  
  ul {
    list-style: none;
    padding: 0;
    
    ul {
      padding-left: 15px;
      font-size: .8em;
    }
  }
}

.eventless-pre,
.eventful-pre,
.eventless-post,
.eventful-post {
  background-color: $gray-lighter;
  opacity: .6;
}

.eventless-today,
.eventful-today > a {
  color: $brand-secondary;
}


// Indicators
.event-open:not(.event-past),
.event-booked {
  &:before {
    display: inline-block;
    height: .6em;
    width: .6em;
    margin: 0 5px .1em 0;
    font-size: .8em;
    line-height: 1;
  }
}

.event-open:before {
  background-color: $brand-primary;
  content: '';
  border-radius: 50%;
}

.event-booked:before {
  content: '✓';
}


// ajax states
.em-calendar-wrapper {
  position: relative;
  
  .loading,
  .loading:before,
  .loading:after {
    background: $brand-primary;
    animation: loader 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .loading:before,
  .loading:after {
    margin-top: -2em;
    content: '';
  }
  .loading:before {
    left: -1.5em;
    animation-delay: -0.32s;
  }
  .loading {
    text-indent: -9999em;
    font-size: 11px;
    animation-delay: -0.16s;
    transform: translate(-50%, -50%);
    z-index: $zindex-1;
  }
  .loading:after {
    left: 1.5em;
  }
}

.is-loading .em-calendar {
  opacity: .4;
}

@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 0 $brand-primary;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em $brand-primary;
    height: 5em;
  }
}

@keyframes fade-in {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

