// featured images
// --------------------------------------------------


.featured-images {
  height: 300px;
  overflow: scroll;
  white-space: nowrap;
  display: none;
  
  @media (min-device-width: $screen-sm) {
    display: flex;
  }
}

.featured-image {
  display: inline-block;
  height: 100%;
  flex-shrink: 0;
  img {
    height: 100%;
  }
}