// footer
// --------------------------------------------------


.footer {
  padding: 15px 0;
  background-color: $footer-bg;
  color: $footer-color;
  font-size: 4.2vw;
  
  @media (min-width: $screen-xxs) {
    font-size: .9em;
  }
  
  @media (min-width: $screen-xs) {
    display: flex;
    justify-content: space-between;
  }
  
  a {
    color: $footer-color;
    
    &:hover {
      color: $footer-color-hover;
    }
  }
}

@media (min-width: $screen-sm) {
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .footer-contact {
    margin-right: $grid-column-gutter * 2;
  }
}

.footer-nav {
  flex: 1;
  margin-top: $line-height-computed;
}

.footer-emails,
.footer-address {
  margin-bottom: ($line-height-computed / 2);
}

.footer-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: $footer-color;
  margin: 0 5px;
}
a:hover .footer-icon {
  fill: $footer-color-hover;
}

.footer-info {
  margin: ($line-height-computed / 2) 0;
  font-size: .8em;
  color: $footer-color-alt;
  
  a {
    color: $footer-color-alt;
  }
}

.footer-info p {
  margin-bottom: 0;
  
  @media (min-width: $screen-xs) {
    display: inline-block;
    + p {
      margin-left: 7px;
      
      &:before {
        content: "/";
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}