// Header
// --------------------------------------------------


.main-header {
  background: $header-bg;
  color: $header-color;
  
  a {
    color: $header-link-color;
    
    &:hover {
      color: $header-link-hover-color;
    }
  }
}