// Nav
// --------------------------------------------------


.nav {
  
}

.nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  list-style: none;
}


// primary nav styles
.nav-primary {
  background: $nav-bg;
  color: $nav-color;
}
.nav-primary--list {
  margin-bottom: 0;
  font-weight: $font-weight-strong;
  
  a {
    display: block;
    padding: 10px 15px;
    transition: background .15s ease-out;
    color: $nav-link-color;
    
    &:hover {
      color: $nav-link-hover-color;
      background: darken($nav-bg, 10%);
    }
  }
}


// toggle more nav items
@media (min-width: $screen-sm) {
  .nav-toggle {
    display: none;
  }
}