//
// General Sections Styles
// --------------------------------------------------


// Main
// -------------------------
main {
  margin-top: $section-gutter/2;
  margin-bottom: $section-gutter/2;
  
  
  @media (min-width: $screen-sm) {
    margin-top: $section-gutter;
    margin-bottom: $section-gutter;
  }
}


// Article
// -------------------------

article  {
  h1, h2, h3, h4, h5, h6, p, ul {
    max-width: $screen-sm;
    margin-left: auto;
    margin-right: auto;
  }
}