//
// Sponsors
// --------------------------------------------------


.sponsors {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: none;
  padding: 0;
  margin: 0;
}

.sponsor {
  margin: 0;
  width: 50%;
  text-align: center;
  
  a {
    display: block;
    padding: 10px $grid-column-gutter/3;
  }
}

.sponsors-season .sponsor {
  width: 75%;
  max-width: 100%;
}

.sponsors-past .sponsor {
  width: 33.3333%;
}
  
@media (min-width: $screen-xs) {
  
  .sponsors-season .sponsor {
    width: 50%;
  }
  
  .sponsors-past .sponsor {
    width: 33.3333%;
  }
  
  .sponsor { 
    width: 33.3333%;
    a {
      padding: 20px $grid-column-gutter/2;
    }
  }
}

@media (min-width: $screen-sm) {
  
  .sponsors-season .sponsor {
    width: 33.3333%;
  }
  
  .sponsors-past .sponsor {
    width: 25%;
  }
  
  .sponsor {
    width: 25%;
  }
  
}

@media (min-width: $screen-md) {
  .sponsors-past .sponsor {
    width: 25%;
  }
  
  .sponsors-season .sponsor {
    width: 25%;
  }
  
  .sponsor { 
    width: 20%;
  }
  
}


